.footer-container{
    background-color:rgb(51, 106, 155);
    width: 100%;
    height: 210px;
  
}
.redes{
    font-size: 20px;
    display: flex;
    justify-content: center;

}
.redes .icon {
    margin: 5px 10px ;
    cursor: pointer;
}
.redes .icon{
    color: #fff;
}
.redes .icon:hover{
    color: rgb(7, 139, 255);
}
.footer-container h6 {
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 28px 0 10px 0;
    font-size: 22px;
}