.presentacion-container{
  display: flex;
  justify-content: end;
  padding: 100px;
}
.presentacion-container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: 33px 0px;
  opacity: .9;
}